#projet messagesPiloteVmcVersSql C++ QT QT créator

#on suprime tout
/**
#on ajoute ce qu'on garde

#fichiers
!/.gitignore
!/README.md
!/LICENSE
!/todo
!/delivery for windows.zip
!/*.pro
!/*.h
!/*.cpp
!/*.qrc
!/*.vcxproj

#dossiers
!/help
!/help/*
!/icons
!/icons/*
!/languages
!/languages/*
!/presentation
!/presentation/*
!/process
!/process/*
!/stamps_test
!/stamps_test/*

presentation/*.autosave
process/*.autosave





