#projet messagesPiloteVmcVersSql C++ QT QT créator
build-StampsScanning-Desktop_Qt_5_13_0_MSVC2017_64bit-Debug/*
build-StampsScanning-Desktop_Qt_5_13_0_MSVC2017_64bit-Profile/*
build-StampsScanning-Desktop_Qt_5_13_0_MSVC2017_64bit-Release/*
delivery/*
debug/*
release/*
.vs/*
!.gitignore
!/README.md
!/LICENCE
presentation/*.autosave
process/*.autosave
*.ini



